<!DOCTYPE html>
    
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="styles.css">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='scripts.js'></script>
</head>
<body>

    <nav>
        <h1>The<br>Sidebar<br>Navigator</h1>
        <a href="/">/</a>
        <a href="Meter">Meter</a>
        <a href="Plot">Plot</a>
        <a href="Loader">Loader</a>
        <a href="Pointcloud">Pointcloud</a>
    </nav>


    <main>
        @RenderBody()
    </main>

</body>
</html>