@page "/Series"
<h1>Series</h1>

<button onclick="show_series()">Show series</button>
<button onclick="new_plotter_window()" id="plotbutton">New plotter window</button>
<button onclick="new_osm_window()" id="osmbutton">New OSM window</button>
<hr>
<table id="table"></table>

<script>

var plotlink_href = "";

function new_plotter_window()
{
	w = 800;
	h = 400;
	x = 400;
	y = 400;
	window.open("/plotter.html" + plotlink_href,"Plotter:"+plotlink_href,"resizable=no,toolbar=no,scrollbars=no,menubar=no,status=no,directories=n o,width="+w+",height="+h+",left="+x+",top="+y+"");
}

function new_osm_window()
{
	w = 800;
	h = 400;
	x = 400;
	y = 400;
	window.open("/osm.html" + plotlink_href,"Plotter:"+plotlink_href,"resizable=no,toolbar=no,scrollbars=no,menubar=no,status=no,directories=n o,width="+w+",height="+h+",left="+x+",top="+y+"");
}





var etable = document.getElementById("table");
var plotbutton = document.getElementById("plotbutton");
plotbutton.disabled = true;
//var plotlink = document.getElementById("plotlink");




var client = mqtt.connect("ws://192.168.1.195:1884");
client.on('connect', function () 
{
	console.log("mqtt connected");
});


function generate_url(series)
{
	var selected = {};
	for (archetype in series)
	{
		var components = series[archetype].components;
		for (component in components)
		{
			let cell = components[component]._cell;
			if (cell.classList.contains("selected"))
			{
				if (archetype in selected === false)
				{
					selected[archetype] = [];
				}
				selected[archetype].push(component);
			}
		}
	}
	console.log(selected);
	//console.log(t);
	//console.log(atob(decodeURIComponent(t)));
	if (Object.keys(selected).length > 0)
	{
		plotbutton.disabled = false;
		var s = JSON.stringify(selected);
		var t = encodeURIComponent(btoa(s));
		plotlink_href = "#"+t;
	}
	else
	{
		plotbutton.disabled = true;
	}
}

function show_series()
{
	req_json('api/series', (series) => 
	{
		generate_htmltable_series(etable, series);

		for (topic in series)
		{
			console.log("subscribe: " + topic);
			client.subscribe(topic);
		}
		
		var selected = {};

		for (archetype in series)
		{
			var components = series[archetype].components;
			for (component in components)
			{
				let cell = components[component]._cell;
				cell.onclick = () => 
				{
					cell.classList.toggle("selected");
					generate_url(series);
				}
			}
		}

		client.on("message", function (topic, payload)
		{
			//console.log(payload);
			var components = series[topic].components;
			for (component in components)
			{
				//Warning! The payload does not start at byte 0!
				dataview = new DataView(payload.buffer, payload.byteOffset + components[component].offset);
				var s = converters[component](dataview);
				var cell = components[component]._cell;
				cell.innerHTML = JSON.stringify(s);
			}
		});
	});
}






</script>