html, body
{
	height: 100%;
}

*
{
	box-sizing: border-box;
}
  

body
{
	
	background-color:burlywood;
	/*overflow:hidden;*/
}

nav
{
	padding: 10px;
	background-color: darkgoldenrod;
}

nav > a
{
	color: greenyellow;
	display: block;
}

main
{
	padding: 10px;
	background-color: ghostwhite;
	flex: 1;
}


table
{
	border-collapse: collapse;
	background-color: rgb(255, 255, 255);
	font-family: Consolas,monaco,monospace;
	font-style: normal;
	font-size: 14px;
	/*
	text-align: right;
	*/
}

td
{
	padding: 5px;
	border: 1px solid rgb(102, 102, 102);
}



.timestamp
{
	background-color: rgb(150, 160, 221);
}

.position_xyzw
{
	background-color: rgb(212, 150, 202);
}

.position_gcs
{
	background-color: rgb(143, 211, 169);
}

.temperature
{
	background-color: rgb(255, 151, 151);
}

.humidity
{
	background-color: rgb(64, 91, 92);
}


.selected
{
	background-color: rgb(255, 252, 80);
}