html, body
{
	height: 100%;
}

*
{
	box-sizing: border-box;
}
  

body
{
	display: flex;
	background-color:burlywood;
	overflow:hidden;
}

nav
{
	padding: 10px;
	background-color: darkgoldenrod;
}

nav > a
{
	color: greenyellow;
	display: block;
}

main
{
	padding: 10px;
	background-color: ghostwhite;
	flex: 1;
}