@page "/Pointcloud"
<h1>Pointcloud</h1>

<label for="value1">Low</label>
<meter id="value1" min="0" max="100" low="30" high="75" optimum="80" value="25"></meter>
<button onclick="test()">Load</button>

<div id="myDiv"></div>


<script>
function test()
{
	var frame = 102;
	var framesize = (320 * 20) * (4 * 4);
	req_arraybuffer('/data/miloatv/p1.out', frame * framesize, (frame + 1) * framesize - 1, (x, y, z) => {
		var trace1 =
		{
			x: x, y: y, z: z,
			mode: 'markers',
			marker:
			{
				size: 1,
				opacity: 1.0,
				symbol: 'square'
			},
			type: 'scatter3d'
		};

		var layout =
		{
			margin:
			{
				l: 0,
				r: 0,
				b: 0,
				t: 0
			},
			scene: {
				aspectmode: "manual",
				aspectratio: {
					x: 1, y: 1, z: 1,
				},
				xaxis: {
					nticks: 10,
					range: [0, 6],
				},
				yaxis: {
					nticks: 10,
					range: [-3, 3],
				},
				zaxis: {
					nticks: 10,
					range: [-3, 3],
				}
			},
		};
		Plotly.newPlot('myDiv', [trace1], layout);
	});
}
</script>